@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700|Open+Sans:400,800);

html,
body {
    
font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background: #eee;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.render {
    background: lightgreen;
}


.scroll {
    height: 14em;
    max-height: 14em;
    overflow: auto;
    overflow-x: hidden; 
}
.user {
 color: grey;
}
.list {
    font-family: 'Inconsolata', monospace ;
}


a[target]:after {
    content: " ↗";
    color: black;
}

.center {
    text-align: center;
}

.fail {
    background: #efc7c7;
}

.list-inline li:not(:last-child):after {
    content: " → ";
}

.col-xs-12 {
    background: rgba(0,0,0,.1);
    border-width: 0;
    font-weight: 700;
}

code, pre, .mono {
    font-family: 'Inconsolata', monospace ;
}


.list {
    font-size: 14pt;
}


/* Borrowed from Lea Verou Pure CSS scrollbox 
http://lea.verou.me/2012/04/background-attachment-local/
*/
.scrollbox {
    overflow: auto;
    margin: 0 auto;

    background:
        /* Shadow covers */
        linear-gradient(white 30%, rgba(255,255,255,0)),
        linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,
        
        /* Shadows */
        radial-gradient(50% 0, farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)),
        radial-gradient(50% 100%,farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
    background:
        /* Shadow covers */
        linear-gradient(white 30%, rgba(255,255,255,0)),
        linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,
        
        /* Shadows */
        radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
        radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
    background-repeat: no-repeat;
    background-color: white;
    background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
    
    /* Opera doesn't support this in the shorthand */
    background-attachment: local, local, scroll, scroll;
}